.summary_table{
    display: flex;
   flex-direction: column;
    
}
#root{
   
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: center; */  
    
  }
.close_button{
    
    width: 10%;
    align-self: center;
    margin-block-start: 1%;
    margin-block-end: 1%;
}
thead tr:nth-of-type(even) {
 
  background: #B7D4F6;
}
.summary_table{
  
  border-radius: 1rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.18) 0%, rgba(117, 167, 226, 0.42) 100%), #FFF;
}
tbody th{
  color: #576FEC;
}
tbody tr:last-of-type th {
  color: #192B8A;
}
.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.popup-inner {
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    width: 40%;
}
