.confirm_button{
    
    width: 10%;
    align-self: center;
    margin-block-start: 1%;
    margin-block-end: 1%;
}
#root{
   
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: center; */  
  }
  .select_table{
    display: flex;
   flex-direction: column;
    
}