.confirm_button{
    
    width: 10%;
    align-self: center;
    margin-block-start: 1%;
    margin-block-end: 1%;
}
#root{
   
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: center; */  
  }
  .select_table{
    display: flex;
   flex-direction: column;
    
}
thead{
  background-color: black;
  color: white;
}
.select_table  {
  border-radius: 1rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.18) 0%, rgba(117, 167, 226, 0.42) 100%), #FFF;
  
}
.popup {
    position: fixed;
    z-index: 1500;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.selected {
    background-color: #ffa94d;
}
