.close_button{
    
    width: 10%;
    align-self: center;
    margin-block-start: 1%;
    margin-block-end: 1%;
}
.score_table{
    display: flex;
   flex-direction: column;
    
}
#root{
   
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: center; */  
  }
  .score_table{
    border-radius: 1rem;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.18) 0%, rgba(117, 167, 226, 0.42) 100%), #FFF;
  }
  .score_table img{
    height: 15rem;
    
  }
  .score_table td{
    display: inline-flex;
    justify-content: center;
    overflow: hidden;
  }
  .score_table tbody tr{
    display: flex;
    justify-content:space-around;
    height: 8rem;
    
  }