div.player_info{
    margin-inline-start: auto;
    margin-inline-end: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center; 
    /* min-width: 350px; */
    /* width: 80%; */
    /* height: 150px; */
}
div.player_info>p{
    color: rgba(0, 0, 0, 0.60);
    margin-top: -7px;
 }
section.profile>img{
   /* width:45%;
   height: 100%;
   border-radius: 9999px;*/
    background:   rgba(14, 34, 106, 0.42); 
    width: 150px;
    height: 150px;
    border-radius: 90px;
    overflow: hidden;
    text-align: center;
    object-fit: cover;
    
   
}
section.profile{
    /* width: 85%; */
    min-width: 350px;
    width: 80%;
    height: 150px;
    min-height: 150px;
    max-height: 150px;
    display:flex;
    /* border: 1px solid rgba(241, 236, 236, 0.50);
     */
     /* border: 2px solid rgb(4, 42, 255); */
    border-radius: 9999px;
    background-color: rgba(241, 236, 236, 0.50);
    /* background-color: rgba(241, 104, 104, 0.5); */
    position: relative;
    
}
section.profile>button.kick_button_left{
    position: fixed;
}
section.profile>button.kick_button_right{
    position: absolute;
    right: 0px;
}
section.profile>.bidScore{
    position: absolute;
    width: 3rem;
    top: 35%;
    border-radius: 97px;
    border: 2px solid #000;
    background: #A1CDFF;
    text-align: center;
    font-size: 1.5rem;
}
section.profile>.pass{
    position: absolute;
    width: 3rem;
    top: 20%;
    background: #EC7676;
    border-radius: 1rem;
    text-align: center;
}

section.profile .timer{
    position: absolute;
    right: 0px;
    /* top: 100px; */
    /* bottom: 100px; */
    width: 60px;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}
section.profile .timer .timer_value{
    background-color: #FFAF66;
    border: 1px solid black;
    border-radius: 9999px;
    
    font-size: large;
}
.player_name{
    color: black;
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 180px
}
.ready_button{
  border: 1px solid white;
  border-radius: 20px;
  background: #162345; 
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 10px;
  width: 100px;
  max-width: 300px;
  /* min-height: 70px; */
  height: 22px;
  max-height: 80px;
  padding: 8px 16px;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  
}
.ready_button:disabled{
  opacity: 0.5;
  cursor: not-allowed;
}
.ready_button:hover:enabled{
    color: #375FC7;
    background-color: #081128;
    border-color: white;
}