.bid_group .bid_card{
    display: flex;
    justify-content: center;
    margin-inline-end: 1em;
    width: 15%;
    height: 12%;
    border-radius: 2px;
    border: 2px solid #ffa94d;
    text-align: center;
    margin-block-end: 4%;
    color: #000;
    text-align: center;
    font-family: Inter;
    
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 2px solid #000;
    background: #A1CDFF;
    
    
  }

  .bid_group{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width:100%;
    height: 100%;
    margin :0 0 0 0;
    border-radius: 84px;
    border: 1px solid #050357;
    background: linear-gradient(180deg, rgba(233, 233, 233, 0.00) 0%, rgba(3, 0, 172, 0.25) 100%);
  }
   .bid_group .bid_card button{
    font-size: large;
    font-weight: bold;
  }
  .bid_group>button{
    width: 30%;
    margin-inline-start: 4%;
    /* height: 35%; */
  }