h6.player_name{
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 2px solid #e74c3c;
    background-color: rgb(52, 152, 219);
    margin-block: 0px 2px;
    text-align: center;
}