h3.player_name{
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid #e74c3c;
    background-color: rgb(52, 152, 219);
    margin-block: 0px 2px;
    text-align: center;
}

section.profile>div>img{
   width:60%;
   height: 100%;
   
  

}
section.profile{
    width: 85%;
    height: 30%;
    display:flex;
    justify-content: space-evenly;
    border: 1px solid #ffa94d;
    border-radius: 5px;
    flex-direction: column;
  
}

section.profile>div>span{
    align-self: center;
    margin-inline-start: 10%;
    /* justify-self: center; */
}

section.profile>div{
    display: flex;
    
   
}
section.individual_score{
    text-align: center;
    flex-grow: 1;
    border: 1px solid #ffa94d;
    border-radius: 5px;
}

