div.player_info{
    margin-inline-start: auto;
    margin-inline-end: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; 
}
div.player_info>p{
    color: rgba(0, 0, 0, 0.60);
 }
section.profile>img{
   width:45%;
   height: 100%;
   border-radius: 9999px;
}
section.profile{
    width: 85%;
    height: 30%;
    display:flex;
    border: 1px solid rgba(241, 236, 236, 0.50);
    border-radius: 9999px;
    background-color: rgba(241, 236, 236, 0.50);
    position: relative;
    
}
section.profile>button.kick_button_left{
    position: fixed;
}
section.profile>button.kick_button_right{
    position: absolute;
    right: 0px;
}


