div.player_name_panel{
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid #e74c3c;
    background-color: rgb(52, 152, 219);
    margin-block: 0px 2px;
   
    text-align: center;
    display: flex;
}
div.player_name_panel>h3.player_name{
    margin-left: auto;
}


section.profile>div>img{
   width:60%;
   height: 100%;
   
  

}
section.profile{
    width: 85%;
    height: 30%;
    display:flex;
    justify-content: space-evenly;
    border: 1px solid #ffa94d;
    border-radius: 5px;
    flex-direction: column;
  
}



section.profile>div{
    display: flex;
    /* justify-content: center;
    padding-inline-start: 0; */
   
}
section.individual_score{
    text-align: center;
    flex-grow: 1;
    border: 1px solid #ffa94d;
    border-radius: 5px;
}

section.profile>div.player_name_panel>button.kick_button{
    margin-left: auto;
}